/* fuentes---
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
---fuentes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid-index {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}


html {
    font-size: 62.5%;
    width: 100%;
    height: 100vh;
}

/*--- Navegacion ---*/
header {
    grid-area: header;
    background-color: #000000;
    font-size: 2rem;
    letter-spacing: 5px;
}

.container-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

nav {
    text-align: center;
    justify-self: center;

}

.logo {
    padding: 2rem;
}

.navbar {
    display: flex;
    column-gap: 5rem;

}

/*--- Navegacion ---*/

/*--- Main ---*/
main {
    grid-area: main;
    background-image: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-index {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.color-titulo {
    color: #537FE7;
}

.index-div-1 {
    padding-top: 7rem;
    text-align: center;

}

.index-div-2 {
    align-self: center;
    padding: 5rem;
}

h1 {
    font-size: 10rem;
    font-family: 'Lato', sans-serif;
}

.section-index p {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.section-index a {
    text-decoration: none;
    color: black;
}

.index-div-1 button {
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem;
}

.btn-azul {
    background-color: #150050;
}

.btn-azul a {
    color: #fff;
}

.informacion {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.informacion h1 {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: bold;

}

.p-1 {

    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 5rem;
    font-weight: bold;
}

.p-2 {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 4rem;
    font-weight: bold;
}

.p-3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 4rem;
    font-weight: bold;
}

.redes-sociales-sm {
    display: flex;
    gap: 5rem;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
}

.redes-sociales-sm img {
    width: 10rem;
    height: 10rem;
}

.img-sm {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 7;
    justify-self: center;
    align-self: center;
}

.paginas{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.grid-pagina-1{
    background-color: rgb(188, 188, 188, 0.3);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-pagina-1 h2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-pagina-1 p{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-pagina-1 img{
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-pagina-2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-pagina-2 h2{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-pagina-2 p{
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-pagina-2 img{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.paginas img {
    border: 0.2rem solid black;
    justify-self: center;
    align-self: center;
}

.paginas h2 {
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    align-self: flex-end;
}

.paginas p {
    font-size: 4rem;
}

.comentario div {
    background-color: #fff;
    width: 50rem;
    height: 30rem;
    padding: 0.5rem;
    margin: 3rem;
    border: 0.3rem solid black;
}

.comentario p {
    font-size: 2rem;
}

.contacto-info {
    background-color: #537FE7;
    width: 50rem;
    height: 50rem;
    padding: 2rem;
    margin-top: 5rem;
    margin-left: 15rem;
    border: 0.3rem solid black;
}

.contacto-info p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.formulario {
    font-size: 2rem;
}

/*--- Main ---*/

/*--- Footer ---*/
footer {
    grid-area: footer;
    background-color: #150050;
}

.container-header {
    display: flex;

}

.texto-footer {
    font-size: 2.5rem;
    margin-left: 2rem;
}

.texto-footer a {
    text-decoration: none;
    color: #fff;
}

.texto-footer p {

    color: #fff;
    font-size: 1.5rem;
}

.redes-sociales {
    display: flex;
    column-gap: 2rem;
    margin-right: 5rem;
}

/*--- Footer ---*/