@mixin display($display, $direction, $wrap, $justify, $align) {
    display: $display;
    flex-direction: $direction ;
    flex-wrap: $wrap;
    justify-content: $justify ;
    align-items: $align ;
}

@mixin grid($cols, $rows, $justify, $align) {
    display: grid;
    grid-template-columns: $cols;
    grid-template-rows: $rows;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-order($rs, $cs, $re, $ce) {
    grid-row-start: $rs;
    grid-column-start: $cs;
    grid-row-end: $re;
    grid-column-end: $ce;
}

@mixin text($fs, $fw, $c, $ta, $tc) {
    font-size: $fs ;
    font-weight: $fw ;
    color: $c ;
    text-align: $ta;
    text-decoration: $tc;
}