main{
    grid-area: main;
    background-image: url("../assets/imgs/background.jpg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.section-index{
    height: 100%;
    @include display(flex,column-reverse,none,center,none)
}
.index-div-1{
    align-self: center;
    h1{
        span{
            color: #537FE7;
        }
        @include text(3rem,none,#fff,center,none);
        font-family: 'Lato', sans-serif;
    }
    p{
        @include text(1.5rem,bold,#fff,center,none);
        margin-bottom: 3rem;
    }
}

.index-div-2{
    align-self: center;
    padding: 5rem; 
    img{
        width: 100%;
        height: 100%;
    }
}
