.comentario{
    @include display(flex,column,none,space-between,none);
    background-color: #537FE7;
    width: 80%;
    height: 20rem;
    padding: 0.5rem;
    margin: 3rem;
    border: 0.1rem solid black;
    box-shadow: 1rem 1rem 1rem grey;
    img{
        max-width: 7rem;
    }
    p{
        @include text(1.5rem,bold,none,none,none);
    }
}