@media (min-width:320px){
    .section-index h1{
        font-size: 3rem;
    }
    .section-index p{
        font-size: 1.5rem;
    }


    .grid-pagina-1{
        img{
            width: 30rem;
        }
    }
    
    .grid-pagina-2{
        img{
            width: 30rem;
        }
    }
}