@media (min-width:768px){
    .section-index{
        .index-div-1{
            h1{
                font-size: 5rem;
            }
            p{
                font-size: 2.5rem;
            }
        }
    }
    .container-btn{
        button{
            a{
            font-size: 2rem;
            }
        }
    }


    .redes-sociales{
        li{
            a{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}