@media (min-width:425px){
    .nav-wrapper{
        nav{
            .logo{
                a{
                    font-size: 3rem;
                }
            }
        }
    }
    .section-index{
        .index-div-1{
            p{
                font-size: 2rem;
            }
        }
    }
    .container-btn{
        button{
            a{
            font-size: 2rem;
            }
        }
    }

    footer{
        div{
            .texto-footer{
                a{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }


}