.container-btn{
    @include display(flex,none,none,center,center);
    gap: 3rem;

}
button{
    border-radius: 2rem;
    border: 0.1rem solid black;
    padding: 2rem;
}

.btn-blanco{
    a{
        @include text(1.5rem,bold,black,none,none);
    }
}
.btn-azul{
    background-color: #150050;
    a{
        @include text(1.5rem,bold,#fff,none,none);
    }
}